<div class="container">
  <div class="row py-5">
    <div class="col-4">
      <h1>User info</h1>
      <div class="image_tag">
        <%= image_tag @user.get_image(100, 100)%>
      </div>
      <table class="table">
        <tr>
          <th>name</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>introduction</th>
          <td><%= @user.introduction %></td>
        </tr>
      </table>
      <div class="com-4 mx-auto">
        <%= link_to edit_user_path(@user.id), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-gear"></i>
        <% end %>
      </div>
      
      <h1>New book</h1>
      
    </div>
    
    <div class="col-6 mx-auto">
      <h1>Books</h1>
    </div>
  </div>
</div>
